.nav_all{
	padding: 24px 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #DFDFE2;
}
.ul_nav ul{
	display: flex;
	list-style: none;
	padding: 0px;
	margin: 0px;
	float: right;
}
.ul_nav ul li {
	margin-left: 29px;
}
.ul_nav ul li a{
	font-family: 'DM Sans', sans-serif;
	color: #2C2C2C;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: center;
	text-decoration: none;
}

.section_banner_home{
	padding: 73px 0px 50px;
}
.section_banner_home .info_banner h2{
	font-family: Helvetica Neue;
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: left;
}
.section_banner_home .info_banner p{
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}
.section_banner_home .info_banner .button_a_banner{
	margin-top: 30px;
}
.section_banner_home .info_banner .button_a_banner a{
    background-color: #FF451C;
    padding: 17px 26px;
    width: fit-content;
    margin: auto;
    border-radius: 100px;
    box-shadow: 0px 6px 10px 0px #00000029;
    color: #ffffff;	
	text-decoration: none;
	font-family: 'DM Sans', sans-serif;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
}
.section_banner_home .card_op{
	background-color: #F3F3F3;
	padding: 24px;
	border-radius: 20px;
}
.section_banner_home .card_op p{
	font-family: Helvetica Neue;
	font-size: 48px;
	font-weight: 700;
	line-height: 42px;
	letter-spacing: 0em;
	text-align: center;
	color: #2C2C2C;
}
.section_banner_home .card_op span{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: center;
	color: #2C2C2C;
}
.section_banner_home .margin_top_op{
	margin-top: 50px;
}

.section_nosotros_home{
	background-color: #F3F3F3;
	padding: 64px 0px;
}
.section_nosotros_home .titles_parrafo_n h2{
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}
.section_nosotros_home .titles_parrafo_n p{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
.section_nosotros_home .card_n .fondo_n{
    background-color: #ffffff;
    padding: 16px 35px;
    border-radius: 20px;
}
.section_nosotros_home .card_n .fondo_n p{
	font-family: 'DM Sans', sans-serif;
	color: #FF451C;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0.02em;
	text-align: center;
}
.section_nosotros_home .card_n .fondo_n span{
	font-family: 'DM Sans', sans-serif;
	color: #2C2C2C;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}
.section_nosotros_home .div_center_button .buton_fondo{

}
.section_nosotros_home .div_center_button a{ 
    background-color: #FF451C;
    padding: 17px 26px;
    width: fit-content;
    margin: auto;
    border-radius: 100px;
    box-shadow: 0px 6px 10px 0px #00000029;
    color: #ffffff;	
	text-decoration: none;
	font-family: 'DM Sans', sans-serif;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
}









/*MENTORES*/
.mentores{
	background-color: transparent;
    background-image: linear-gradient(180deg, #FF451C 42%, #FF9E71 105.75%);    
}
.mentores .fondo_image{
	padding: 64px 0px;
    background-image: url(assets/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mentores .div_ment_1{
	background-color: #ffffff;
	padding: 16px;
	border-radius: 20px;
	height: 213px;
}
.mentores .div_ment_1 p{
	color: #FF451C;
	font-family: 'DM Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.02em;
	margin-bottom: 65px;
}
.mentores .div_ment_1 span{
	font-family: 'DM Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}
.mentores .title_mentoria h2{
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	letter-spacing: 0em;
	text-align: center;
	color: #FFFFFF;
}
.div_ment_2{
	background-color: #ffffff;
	padding: 16px;
	border-radius: 20px; 
}
.div_ment_2 .d_flex_ment{
	display: flex;
	border-bottom: 1px solid #DFDFE2;
	padding-bottom: 10px;
}
.div_ment_2 .d_flex_ment div{
	width: 50%;
}
.rigth_lad{
	text-align: right;
}
.div_ment_2 .d_flex_ment p{
	font-family: 'DM Sans', sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: 0em;
	text-align: left;
	margin: 0px;
	color: #FF451C;
}
.div_ment_2 .d_flex_ment span{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #2C2C2C;
}
.div_ment_2 .d_flex_ment_2{
	display: flex;
	align-items: center;
	padding: 16px 0px 0px;
}
.div_ment_2 .d_flex_ment_2 .p_ment_2 p{
	font-family: 'DM Sans', sans-serif;
	color: #2C2C2C;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	margin-bottom: 0px;
}
.mentores .div_ment_3{
	background-color: #000000;
	padding: 16px;
	border-radius: 20px;
}
.mentores .div_ment_3 p{
	font-family: 'DM Sans', sans-serif;
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.02em;
	text-align: left;
	margin-bottom: 65px;
}
.mentores .div_ment_3 a{
	width: 100%;
	border-radius: 100px;
	background-color: #FFFFFF;
	padding: 18px 0px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-family: 'DM Sans', sans-serif;
	color: #2C2C2C;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;	
	position: relative;
}
.mentores .div_ment_3 a img{
	position: absolute;
    right: 21px;
    top: 15px;
}
/*VOLUNTARIADO*/
.voluntariado{
	padding: 64px 0px;
}
.voluntariado .div_titles_volun h2{
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}
.voluntariado .div_titles_volun p{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
.voluntariado .div_titles_volun .buton_volun{
	margin-top: 30px;
}
.voluntariado .div_titles_volun .buton_volun a{
	background-color: #FF451C;
    padding: 17px 26px;
    width: fit-content;
    margin: auto;
    border-radius: 100px;
    box-shadow: 0px 6px 10px 0px #00000029;
    color: #ffffff;	
	text-decoration: none;
	font-family: 'DM Sans', sans-serif;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
}






.section_boletin{
	background-color: #F3F3F3;
	padding: 80px 0px;
}
.section_boletin .titles_parrafo_n h2{
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}
.section_boletin .titles_parrafo_n p{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
.section_boletin form{
	width: 512px;
	margin: auto;
}
.div_flex_form_boletin{
	display: flex;
	align-items: center;
}
.div_flex_form_boletin .input-group{
    border-radius: 100px;
    border: 2px solid #FF451C;
    padding: 15px 24px;
    background-color: #ffffff;
}
.div_flex_form_boletin .input-group span{
	background-color: #ffffff;
	border: 0px;
	border-radius: 100px;
	padding: 0px;
}
.div_flex_form_boletin .input-group input{
	background-color: #ffffff;
	border: 0px;
	padding: 0px 12px;
	border-radius: 100px;
	/*color: #BBBBBB;*/
}
.div_flex_form_boletin button{
    margin-left: 16px;
    background-color: #FF451C;
    font-family: 'DM Sans', sans-serif;
    color: #EAEAEA;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 18px 15px;
    border-radius: 100px;
    border: 0px;
    width: 258px;
}
#mensaje h3{
	font-size: 32px;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
}
#mensaje p{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: center;
}
.footer_all{
	background-color: #171717;
	padding: 34px 0px;
}
.footer_all .flex_logo_redes ul{
	display: flex;
	align-items: center;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.footer_all .flex_logo_redes{
	display: flex;
}
.footer_all .ul_vistas{
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: fit-content;
    float: right;
}
.footer_all .ul_vistas li{
	padding: 0px 16px;
}
.footer_all .ul_vistas li a{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	color: #ffffff;
	text-decoration: none;
}