.banner_nosotros{
	position: relative;
}
.position_ab_fondo{
	position: absolute;
    width: 100%;
    left: 0px;
    background: linear-gradient(89.99deg, rgba(0, 0, 0, 0.56) 19.19%, rgba(0, 0, 0, 0.18) 41.37%, rgba(255, 69, 28, 0.18) 85.73%);
    height: 100%;	
	
}
.banner_nosotros .floter_p{
	position: absolute;
    top: 40%;
    width: 33%;
}
.banner_nosotros .floter_p p{
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: 700;
	line-height: 37px;
	letter-spacing: 0.02em;
	color: #ffffff;
}

/**/
.section_historia{
	padding: 50px 0px 70px;
	background-color: #F2F2F2;
}
.section_historia h2{
	font-size: 32px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: center;
}
.flex_historys {
    display: flex;
    margin-top: 75px;
}

.flex_historys .item_histo {
    position: relative;
}

.flex_historys .item_histo:not(:last-child)::before {
	content: "";
    position: absolute;
    top: 20%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 79%;
    z-index: 9999;
    border: 0.2px dashed #ff451c;
}

.flex_historys .item_histo .circle_naranja {
    width: fit-content;
    height: 59px;
    background-color: #FF451C;
    margin: auto auto 30px;
    display: flex;
    align-items: center;
    padding: 0px 7px;
    border-radius: 40px;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.02em;
}
.flex_historys .item_histo p{
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0.02em;
	text-align: left;

}
/**/
.section_equipo{
	padding: 53px 0px;
}
.section_equipo ul{
	width: fit-content;
    margin: auto;
}
.section_equipo ul li button{
	border: 1px solid #FF451C;
	padding: 17px;
	border-radius: 100px !important;
	font-family: 'DM Sans', sans-serif;
	color: #1B1B1B;
	font-size: 16px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 0.02em;
	text-align: left;
	margin: 0px 7px;
}
.section_equipo ul li button:hover{
	color: #000000;
}

.section_equipo ul li button.active{
	background-color: #FF451C !important;  
}
.section_equipo .card_item_me{
	background-color: #F2F2F2;
	padding: 16px 24px;
	border-radius: 24px;
}
.section_equipo .card_item_me .flex_price_star{
	display: flex;
	font-family: 'DM Sans', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;	
}
.section_equipo .card_item_me .flex_price_star div{
	width: 50%;
}
.section_equipo .img_perfil_empresa img{
	border: 2.5px solid #1B1B1B;
	border-radius: 125px;
}
.section_equipo .img_perfil_empresa .img_perfil_img{
	width: 100px;
	height: 100px;
	margin: auto;
}
.section_equipo .img_perfil_empresa .img_perfil_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section_equipo .img_perfil_empresa .img_empresa{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 40px;
    text-align: center;
    border: 2.5px solid #1B1B1B;
    position: absolute;
    left: 48px;
    top: 60px;
}
.section_equipo .img_perfil_empresa .img_empresa img{
	    border: none;
    border-radius: 125px;
        width: fit-content;
    margin: auto;
}
.section_equipo .datos_usuario p{
	font-family: 'DM Sans', sans-serif;
	color: #2C2C2C;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0em;
	margin: 0px;
	text-align: center;
}
.section_equipo .datos_usuario span{
	font-family: 'DM Sans', sans-serif;
	color: #FF451C;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;

}
.section_equipo .separador_user_link{
	width: 50px;
	margin: 10px auto;
	border-bottom: 1px solid #DFDFE2;
}
.section_equipo .redes_wb_links ul{
	list-style: none;
	padding: 0px;
}
.section_equipo .redes_wb_links p{
	font-family: 'DM Sans', sans-serif;
	color: #2C2C2C;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
}

.owl-carousel {
	display: flex;
	align-items: center;
}
  
.owl-carousel .item img {
	width: 100%; /* Ajusta el tamaño de las imágenes según sea necesario */
	height: auto;
}
  